/* import Media from 'react-media'; */
/* colors and styling */
:root {
    --primaryColor: hsl(199, 100%, 33%);
    --secondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --imputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);

    .logo {
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 25px;
            color: var(--primaryColor);
            transform: translateY(5px);
        }

    }


    .navBar {
        max-width:768px ;
        position: absolute;
        background: var(--whiteColorDeam);
        height: max-content;
        width: 80%;
        border-radius: 1rem;
        top: -500rem;
        left: 50%;
        padding: 1rem;
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
        transition: .5s ease-in-out;

        .navLists{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;
            padding: .5rem 0;
            

            .navItem{
                padding: .5rem 0;

                .navLink{
                    color: var(--textColor);
                    font-size: .9rem;
                    font-weight: 600;
                    &:hover{
                        color: var(--primaryColor);
                    }
                }
            }

            .btn{
                margin-top: 1rem;
                a{
                    font-weight: 600;
                    color: var(--whiteColor);
                }
            }
        }
        .closeNavbar{
            position: absolute;
            top:1rem;
            right: 1.5rem;
            color: var(--primaryColor);
            &:hover{
                color: var(--secondaryColor);
            }
        }
    }

    .activeNavbar{
        top: 7rem;
    }
    .togglenavbar{
        .icon{
            font-size: 25px;
            color: var(--primaryColor);
        }
        &:hover:icon{
            color: var(--secondaryColor);
        }
    }

    /* @media screen and (max-width: 768px) {
        .navBar {
            position: absolute;
            background: var(--whiteColorDeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: 6rem;
            left: 50%;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .3s ease-in-out;

            .navBar .navLists{
                flex-direction: column;
                justify-content: center;
            }
        }
    } */


}